* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Lato', 'Roboto', sans-serif;
    background: linear-gradient(270deg, rgba(215, 248, 242, 1) 5%, rgba(133, 242, 222, 1) 30%, rgba(78, 239, 211, 1) 60%, rgba(42, 184, 158, 1) 90%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.card {
    max-width: 800px;
    min-width: 400px;
    width: 100%;
    background: linear-gradient(90deg, rgba(215, 248, 242, 1) 5%, rgba(133, 242, 222, 1) 30%, rgba(78, 239, 211, 1) 60%, rgba(42, 184, 158, 1) 90%);
}

.card-title {
    font-family: 'Grandstander', sans-serif;
    color: #004d40;
    text-align: center;
    margin-bottom: 20px;
}

#maintab .btn {
    margin: 0.5rem;
    background-color: #00796b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
}

#maintab .btn:hover {
    background-color: #004d40;
    transform: scale(1.05);
}

#newtaskdiv {
    margin-bottom: 1rem;
}

#newtasklabel {
    font-weight: bold;
    color: #00796b;
}

#newtask {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#newtaskbutton {
    background-color: #88c999;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
}

#newtaskbutton:hover {
    background-color: #6faf80;
    transform: scale(1.05);
}

.list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
    position: relative;
}

.list-group-item .task-text {
    flex: 1;
    margin-left: 10px;
    overflow-wrap: break-word;
}

.list-group-item .delete-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: #e57373;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.list-group-item:hover {
    background-color: #f1f1f1;
}

.list-group-item .delete-btn:hover {
    background-color: #d32f2f;
}

.checked {
    text-decoration: line-through;
    color: #757575;
}

#countdown {
    font-size: 2rem;
    font-weight: bold;
    color: #00796b;
}

#timercontrol .btn {
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0.5rem;
    border-radius: 20px;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
}

#timercontrol .btn:hover {
    transform: scale(1.05);
}

#start {
    background-color: #81c784;
}

#start:hover {
    background-color: #66bb6a;
}

#stop {
    background-color: #ef9a9a;
}

#stop:hover {
    background-color: #e57373;
}
