*{
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #004d40;
    
}

body {
 
    min-height: 100vh;
    font-family: 'Lato','Roboto',sans-serif;
    background-image: url("https://studywithme.io/aesthetic-pomodoro-timer/c629a813b3561cfa40dd.jpg");
    background-position: center;
    background-size:cover;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #e0e0e0;
}
    
.container{
    display:block;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: none;
    padding: 20px;
    
}
.card{
    width: 100%;
    max-width: 800px;
    min-width: 400px;
    background: linear-gradient(135deg, rgba(21,20,59,0.8) 0%, rgba(33,33,99,0.8) 50%, rgba(70,130,180,0.8) 100%);
    color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
}
.nav-link.active.nav-underline{
    border-bottom: 2px solid #007bff;
}
h1{
    font-family: 'Grandstander',sans-serif;
}
.card-title{
    color: #e0e0e0;
    text-align: center;
    margin-bottom: 20px;
}
#maintab .btn{
    margin: 0.5rem;
    background-color: #00796b;
    color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
}
#maintab .btn:hover{
    background-color: #004d40;
    transform: scale(1.05);
}
#tasks, #timer{
    font-size: large;
}
#timersect{
   display: none; 
} 

#tasksect.active, #timersect.active{
    display: block;
 }
#newtaskdiv .d-flex{
    display: flex;
    align-items: center;
 }
#newtaskdiv .form-label{
    font-weight: bold;
    
}
#newtaskdiv .form-control{
    flex:1;
}
#newtask{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #e0e0e0;
}

#newtaskbutton{
    flex-shrink: 0;
    background-color: #88C999;
    color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
}
#newtaskbutton:hover {
    background-color: #6FAF80;
    transform: scale(1.05);
}
#tasktab button, #timertab button{
    background-color: #6BB1B6;
    color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    margin: 0.5rem;
    border-radius: 20px;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
}
#tasktab button:hover, #timertab button:hover {
    background-color: #5398A0;
    transform: scale(1.05);
}
.list-group-item{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.3s, transform 0.3s;
    /*changed*/
    position: relative;
}
.list-group-item .task-text{
    flex: 1;
    overflow-wrap: break-word;
}
.list-group-item .delete-btn{
    background-color: #e57373;
    color: #e0e0e0;
    border: none;
    padding: 5px 10px;
    margin-left: 225px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    /*changed*/
    position: absolute;
    top: 10%;
    right: 2%;
    bottom: 10%;
    transform: translateV(-50%);

}
.list-group-item:hover{
    background-color: #f1f1f1;
}

.list-group-item .delete-btn:hover{
    background-color: #d32f2f;
}
/*changed*/
.checked{
    text-decoration: line-through;
    color: #757575;
}
#countdown{
    font-size: 2rem;
    font-weight: blod;
    color: #00796b;
}
#timercontrol .btn {
    color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    margin: 0.5rem;
    border-radius: 20px;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
}
#timercontrol .btn:hover {
   
    transform: scale(1.05);
}
#start {
    background-color: #81C784; 
}
#start:hover {
    background-color: #66BB6A; 
}

#stop {
    background-color: #EF9A9A; 
}
#stop:hover {
    background-color: #E57373; 
}

#restart {
    background-color: #FFD180; 
}

#restart:hover {
    background-color: #FFAB40; 
}
/*changed*/
.timer-countdown{
    visibility: visible;
}


/*header styles*/
header {
    background-color: #15143b5f;
    color: #e0e0e0;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.logo, .logo a{
    font-size: 24px;
    font-weight: bold;
    font-family: "Grandstander";
    color: #15143b;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #e0e0e0;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    nav ul li a {
        font-size: 20px;
    }
}

/*Updated colours for aesthetics*/
#maintab .btn {
    background-color: #ab7a97; 
    color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
}

#maintab .btn:hover {
    background-color: #9c6884; 
    transform: scale(1.05);
}

#tasktab button, #timertab button {
    background-color: #0c447d; 
    color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    margin: 0.5rem;
    border-radius: 20px;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
}

#tasktab button:hover, #timertab button:hover {
    background-color: #0a3b6c;
    transform: scale(1.05);
}

#newtaskbutton {
    background-color: #ab7a97; 
    color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
}

#newtaskbutton:hover {
    background-color: #9c6884; 
    transform: scale(1.05);
}

#timercontrol .btn {
    color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    margin: 0.5rem;
    border-radius: 20px;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
}

#start {
    background-color: #81C784; 
}
#start:hover {
    background-color: #66BB6A; 
}

#stop {
    background-color: #ab7a97; 
}
#stop:hover {
    background-color: #9c6884; 
}

#restart {
    background-color: #5e6596; 
}
#restart:hover {
    background-color: #4f5785; 
}

h1 {
    font-family: 'Grandstander', sans-serif;
    color: #e0e0e0;
}

#newtasklabel {
    font-weight: bold;
    color: #e0e0e0; 
}

#countdown {
    font-size: 2rem;
    font-weight: bold;
    color: #e0e0e0; 
}

/*Footer styles*/
.footer {
    background-color: #15143b5f;
    color: #e0e0e0;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    position: fixed;
    z-index: 1000;
}

.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

.footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.footer .social-icons {
    display: flex;
    align-items: center;
}

.footer .social-icons .icon {
    color: #e0e0e0;
    font-size: 20px;
    margin-left: 10px;
    transition: color 0.3s;
}

.footer .social-icons .icon:hover {
    color: #ab7a97; 
}


.page-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #e0e0e0; 
    margin-bottom: 10px;
    text-align: center;
}


.page-subtitle {
    font-size: 1.2rem;
    color: #e0e0e0; 
    margin-bottom: 20px;
    max-width: 500px; 
    text-align: center;
    line-height: 1.5;
    align-items: center;
}

